/* Suaviza las líneas horizontales */
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

/* Títulos */
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ff69b4 !important;
}

/* Enlaces */
a {
  color: #ff69b4 !important;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  font-size: 1.05em;
}
a:hover {
  text-decoration: underline;
}

/* Pie de página */
footer, .license {
  font-size: 0.85em;
  color: white;
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  text-align: left;
}

/* Contenido */
body {
  font-family: Arial, sans-serif;
  line-height: 1.3;
  padding: 0 15px;
}

li {
  line-height: 1.2;
}


/* Responsividad básica */
@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }
}
